@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #21242b;
    min-height: 100vh;
}

p{
    font-family: Montserrat, 'Segoe UI', sans-serif;
    text-align: justify;
    color:hsl(223, 8%, 50%);
    font-size: 20px;
}

li, a, button{
    font-family: Montserrat, 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

h1{
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    color: #FFD6BA;
    font-size: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: hsl(177, 40%, 61%);
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 15px;
}

nav a{
    transition: all 0.3s ease 0s;
    color: azure;
    font-size: 20px;
}

nav a:hover{
    transition: all 0.3s ease 0s;
    color: #555B6E;
    font-size: 20px;
}

button{
    padding: 9px 25px;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: #ffd4b8;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #ffd4b873;
}

footer{
    text-align: center;
}

footer p{
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color:hsl(223, 8%, 50%);
}

.logo{
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #FFD6BA;
}

.host-table{
    font-family: Montserrat, 'Segoe UI', sans-serif;
    margin: 50px auto;
    border-collapse: collapse;
    font-size: 0.95em;
    text-align: center;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.host-table th{
    padding: 12px 15px;
}

.host-table td{
    padding: 12px 15px;
    width: 220px;
}

.host-table tbody tr{
    border-bottom: 1px solid hsla(24, 100%, 86%, 0.678);
    color: hsl(226, 13%, 80%);
}

.host-table thead tr{
    background-color: hsla(24, 100%, 86%, 0.678);
    font-weight: bold;
    color: hsl(226, 13%, 10%);
}

.host-table tr:nth-of-type(even){
    background-color: hsl(223, 16%, 16%);
}

.host-table td:nth-child(1){
    color: white;
    font-weight: bold;
}

.host-table th:nth-child(1){
    color: white;
    font-weight: bold;
}

.summary{
    max-width: 1020px;
    padding: 20px;
    margin: 50px auto;
}

.summary h1{
    text-align: center;
}
